{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow">
            <div class="card-header">
                <h1>{% trans "Password Reset" %}</h1>
            </div>
            <div class="card-body">
                
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mb-3 d-grid gap-2 my-2">
                        <input class="btn btn-primary btn-lg" type="submit" value="{% trans 'Reset My Password' %}" />
                    </div>
                </form>

                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}