{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-12 my-4">
    <div class="row">
      <div class="col-8 offset-md-2">
        <div class="card card-body">        
          <h2 class="card-title">Form {{view_type}}</h2>
          <form action="POST">
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit" class="btn btn-primary">{{view_type | title}}</button>
          </form>
        </div>
      </div>     
    </div>
  </div>
</div>

{% endblock content %}
