{% extends 'base.html' %} {% block content %}


    <div class="row my-4">
      {% for obj in object_list %}
      <div class="col-12 col-md-4">
        
        <div class="card shadow">
          <div class="card-header"><h2>{{obj.title | upper}}</h2></div>
          <div class="card-body">            
            <a href="{{obj.get_absolute_url}}">
              <img src="{{obj.thumbnail.url}}" alt="{{obj.title}}" class="card-img-top">
            </a>
            <p>{{obj.content | truncatechars:50}}</p>
          </div>
          <div class="card-footer">
            <p class="float-end">
              <span><i class="fas fa-eye"></i> {{obj.get_view_count}}</span>
              <span><i class="fas fa-thumbs-up"></i> {{obj.get_like_count}}</span>
              <span><i class="fas fa-comment"></i> {{obj.get_comment_count}}</span>
            </p>
            <p class="card-text text-muted"><small>{{obj.publish_date | timesince}} ago</small></p>
          </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
  

{% endblock content %}
